.c-employment {
    .wraper-about {
        display: flex;
    }

    .section-title {
        font-size    : var(--header-font-size);
        color        : var(--main-text-color);
        font-weight  : 300;
        margin-bottom: 10px;

        margin: 0;
    }

    .left {
        width: 25%;
    }

    .right {
        width: 75%;
    }
    .item {
        position: relative;
        margin-bottom: 20px;
        padding-left : 36px;
        &::after {
            content    : "";
            position   : absolute;
            left       : 4px;
            top        : 0;
            bottom     : 0;
            border-left: 1px dashed #8f96a3;
        }
    }

    .item-project {
        margin-bottom: 20px;
        .project-description{
            font-size    : var(--default-font-size);
            color        : var(--main-text-color-third);
            font-weight: 300;
            line-height: 24px;
            margin: 5px 0 0 0;
        }
        .item-info {
            font-size    : var(--default-font-size);
            color        : var(--main-text-color-third);
            font-weight: 300;
            line-height: 24px;
            margin: 5px 0 0 0;
        }
    }

    .item-role {
        font-size  : var(--medium-font-size);
        color      : var(--main-text-color);
        font-weight: 400;
        line-height: 24px;

        margin: 0;
    }

    .item-subtitle {
        color      : var(--main-text-color-third);
        font-weight: 300;
        line-height: var(--default-font-size);
        font-size  : var(--default-font-size);
        margin     : 5px 0 10px 0;
    }

    ul {
        font-size  : var(--default-font-size);
        color      : var(--main-text-color);
        font-weight: 300;
        line-height: 24px;
        margin    : 0;
        list-style: disc;
    }

    li {
        display   : list-item;
        text-align: -webkit-match-parent;
        margin-left: 20px;
    }
}

@include sp {
    .c-section {
        margin: 10px 0;
    }
    // .pd-t-60{
    //     padding-top: 0px;
    // }
    .c-employment{
      .wraper-about {
          flex-direction : column;
      }

      .left {
        width: 100%;
      }
      .right {
          width: 100%;
      }
      .item-project, .item {
        margin-bottom: 20px;
        padding-left : 0;
        &::after {
            content: none;
        }
      }
      .section-title {
          margin-bottom:  10px;
          text-align: center;
        //   &::after {
        //       content: "";
        //       position: absolute;
        //       border-bottom: 4px solid var(--color-underline);
        //       height: 2px;
        //       width: 50%;
        //       bottom: 0;
        //       left: 50%;
        //       transform: translate(-50%, 0);
        //   }
      }
    }
  }