footer {
  position: relative;
  z-index: 999;
  background-color: var(--main-bg-color);
  min-height      : 60px;
  display         : flex;
  justify-content : center;
  align-items     : center;
}
.copyright {
  text-align: center;
  color     : var(--main-text-white);
}