:root {
    --main-text-white: white;
    --main-text-color: #262d3d;
    --main-text-color-second: #8b8b8b;
    --main-text-color-third: #8f96a3;
    --main-text-color-fourth: #446fb2;
    --color-white: #ffffff;
    --main-bg-color: #001540;
    --color-underline: #0be779;

    --default-font-size :  1.6rem;
    --medium-font-size :  2.2rem;
    --header-font-size :  3rem;
}

$breakpointMenu : 1024px;